@tailwind base;
@tailwind components;
@tailwind utilities;


#__next {
  min-height: 100vh;
}

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */

  /* Copy & Lists */
  .article p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .article ul,
  .article ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: disc;
    padding: 0 18px;
  }
  .article ul li,
  .article ol li {
    line-height: 1.5rem;
  }
  .article ul ul,
  .article ol ul,
  .article ul ol,
  .article ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  .article blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  /* Headings */
  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    font-weight: bold;
  }
  .article h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem;
  }
  .article h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
  }
  .article h3 {
    font-size: 1.414rem;
  }
  .article h4 {
    font-size: 0.707rem;
  }
  .article h5 {
    font-size: 0.4713333333333333rem;
  }
  .article h6 {
    font-size: 0.3535rem;
  }
  /* Tables */
  .article table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
  }
 .article  table td,
 .article  table th {
    padding: 0;
    line-height: 33px;
  }
  /* Code blocks */
 .article code {
    vertical-align: bottom;
  }

  code[class*="language-"],
  pre[class*="language-"] ,
  .js-code-highlight {
    color: #d6deeb;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  
    tab-size: 4;
  
    hyphens: none;
  }
  
  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection,
  .js-code-highlight::selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
  }
  
  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: rgba(29, 59, 83, 0.99);
  }
  
  @media print {
    code[class*="language-"],
    pre[class*="language-"],
    .js-code-highlight {
      text-shadow: none;
    }
  }
  
  /* Code blocks */
  pre[class*="language-"],
  .js-code-highlight {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }
  
  :not(pre) > code[class*="language-"],
  pre[class*="language-"], .js-code-highlight {
    color: white;
    background: #011627;
  }
  
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }
  
  .token.comment,
  .token.prolog,
  .token.cdata {
    color: rgb(99, 119, 119);
    font-style: italic;
  }
  
  .token.punctuation {
    color: rgb(199, 146, 234);
  }
  
  .namespace {
    color: rgb(178, 204, 214);
  }
  
  .token.deleted {
    color: rgba(239, 83, 80, 0.56);
    font-style: italic;
  }
  
  .token.symbol,
  .token.property {
    color: rgb(128, 203, 196);
  }
  
  .token.tag,
  .token.operator,
  .token.keyword {
    color: rgb(127, 219, 202);
  }
  
  .token.boolean {
    color: rgb(255, 88, 116);
  }
  
  .token.number {
    color: rgb(247, 140, 108);
  }
  
  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: rgb(130, 170, 255);
  }
  
  .token.selector,
  .token.doctype {
    color: rgb(199, 146, 234);
    font-style: italic;
  }
  
  .token.attr-name,
  .token.inserted {
    color: rgb(173, 219, 103);
    font-style: italic;
  }
  
  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: rgb(173, 219, 103);
  }
  
  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: rgb(255, 203, 139);
  }
  
  .token.regex,
  .token.important,
  .token.variable {
    color: rgb(214, 222, 235);
  }
  
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  
  .token.italic {
    font-style: italic;
  }

  body .fire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: 20vw;
    width: 20vw;
  }
  body .fire .flames {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translateX(-50%) rotate(45deg);
  }
  body .fire .flames .flame {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 0%;
    height: 0%;
    background-color: #FFDC01;
    border-radius: 1vw;
  }
  body .fire .flames .flame:nth-child(2n+1) {

            animation: flameodd 1.5s ease-in infinite;
  }
  body .fire .flames .flame:nth-child(2n) {

            animation: flameeven 1.5s ease-in infinite;
  }
  body .fire .flames .flame:nth-child(1) {

            animation-delay: 0s;
  }
  body .fire .flames .flame:nth-child(2) {
            animation-delay: 0.375s;
  }
  body .fire .flames .flame:nth-child(3) {
            animation-delay: 0.75s;
  }
  body .fire .flames .flame:nth-child(4) {
            animation-delay: 1.125s;
  }
  body .fire .logs {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 15%;
  }
  body .fire .logs:before, body .fire .logs:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    background-color: #70392F;
  }
  body .fire .logs:before {
    transform: translate(-50%, -50%) rotate(-20deg);
    background-color: #612E25;
  }
  
  
  @keyframes flameodd {
    0%, 100% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 100%;
      height: 100%;
    }
    0% {
      background-color: #FFDC01;
      z-index: 1000000;
    }
    40% {
      background-color: #FDAC01;
      z-index: 1000000;
    }
    100% {
      background-color: #F73B01;
      z-index: -10;
    }
    0% {
      right: 0%;
      bottom: 0%;
    }
    25% {
      right: 1%;
      bottom: 2%;
    }
    100% {
      right: 150%;
      bottom: 170%;
    }
  }
  
  @keyframes flameeven {
    0%, 100% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 100%;
      height: 100%;
    }
    0% {
      background-color: #FFDC01;
      z-index: 1000000;
    }
    40% {
      background-color: #FDAC01;
      z-index: 1000000;
    }
    100% {
      background-color: #F73B01;
      z-index: -10;
    }
    0% {
      right: 0%;
      bottom: 0%;
    }
    25% {
      right: 2%;
      bottom: 1%;
    }
    100% {
      right: 170%;
      bottom: 150%;
    }
  }